*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Styles of members */
/*main{
    /* background: black;
}*/
header{
    display: flex;
    justify-content: center;
    background-color: #111111;
}
.img-header{
    width: 35%;
    height: 300px;
}
nav{
    border-bottom: 2px black solid;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    margin-bottom: 50px;
    /* font-family: 'Cinzel', serif; */
    /* font-family: 'Rampart One', cursive; */
}
nav>ul{
    display: flex;
    list-style: none;
    font-size: 20px;
    justify-content: space-evenly;
    padding: 10px;
    background-color: white;
}
li>a{
    text-decoration: none;
    color: black;
}
li>a:hover{
    text-decoration: underline black;
}
/* main{
    
} */
section{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
section article{
    display: flex;
    flex-direction: column;
    text-align: center;
}
section article img{
    height: 400px;
    /* width: 100%; */
    border-radius: 20px;
    border: 2px solid black;
    /* margin-top: 50px; */
}
/* section article img:hover{
    
} */
section article .oneMember{
    position: absolute;
    top: 90%;
    left: 19.5%;
    z-index: -1;
}
section article .twoMember{
    position: absolute;
    top: 90%;
    left: 44.5%;
    z-index: -1;
}
section article .threeMember{
    position: absolute;
    top: 90%;
    left: 73%;
    z-index: -1;
}
section article:hover .oneMember{
    transition: .5s;
    left: 16%;
    z-index: 1;
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Tilt Prism', cursive;
    /* -webkit-text-stroke: 1px black; */
}
section article:hover .twoMember{
    transition: .5s;
    left: 42.4%;
    z-index: 1;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Tilt Prism', cursive;
    /* -webkit-text-stroke: 1px black; */
}
section article:hover .threeMember{
    transition: .5s;
    left: 69%;
    z-index: 1;
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Tilt Prism', cursive;
    /* -webkit-text-stroke: 1px black; */
}
section article img{
    width: 100%;
}
/*! Al pasar por encima del texto del miembro, se desblurrea la imagen.*/ 
/* Todo: cambiar eso.*/
/* Todo: al sacar el mouse de encima, que tome el mismo tiempo para desblurrearse. */
section article img:hover{
    filter: blur(4px);
    transition: .7s;
}
/* section article img:active{
    filter: blur(0px);
    transition: .7s;
} */
/* section article img:{
    transition: .7s;
    filter: blur(4px);
} */

/* Todo: Hacer el footer */
/* footer{
    
} */
footer ul{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    list-style: none;
}