*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    background-color: #111111;
}
.img-header{
    width: 35%;
    height: 300px;
}
nav{
    border-bottom: 2px black solid;
}
nav>ul{
    display: flex;
    list-style: none;
    font-size: 20px;
    justify-content: space-evenly;
    padding: 10px;
    background-color: white;
}
li>a{
    text-decoration: none;
    color: black;
}